nav.navigation
  .navigation-wrapper
    a.navigation-link(href="/")
      | Home
      svg.navigation-svg
    ul.navigation-list
      li.navigation-list-item
        a.navigation-list-link(href="/about")
      li.navigation-list-item
        a.navigation-list-link(href="/collections")
